body {
	font-family: Arial;
}
a {
	color: black;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}


/* Not being used */
table {
	border-collapse: collapse;
}
th, td {
	width: 380px;
}
p {
	font-size: 30px;
	text-align: center;
}


/* New styles */
.nav{
	font-size: 1.75rem;
	font-weight: bold;
}
@media (max-width: 767px) {
	.nav{
		font-size: 18px;
	}
}
.nav-link {
	padding: 0.5rem;
}
.chart-container{
	text-align: center;
}
.chart-title{
	font-size: 1.25rem;
}
.custom-col-padding-5 .col-6{
	padding-left: 5px;
	padding-right: 5px;
}
.custom-col-padding-5.row{
	margin-left: -5px;
	margin-right: -5px;
}
