body {
	font-family: Arial;
}
table {
    border-collapse: collapse;
}
th, td {
    width: 380px;
}
a {
	color: black;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
