<html>
<head>
<META HTTP-EQUIV="Refresh" CONTENT="300">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<title>{{ service }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
<div class="container-fluid">
<div id="nav">
<ul class="nav justify-content-center">
<li class="nav-item">
<a class="nav-link{{ ' active' if service == 'cpu' }}" href="/munin/viewer/cpu2">cpu2</a>
</li>
<li class="nav-item">
<a class="nav-link{{ ' active' if service == 'memory' }}" href="/munin/viewer/memory">memory</a>
</li>
<li class="nav-item">
<a class="nav-link{{ ' active' if service == 'eth0' }}" href="/munin/viewer/eth0">eth0</a>
</li>
<li class="nav-item">
<a class="nav-link{{ ' active' if service == 'netstat' }}" href="/munin/viewer/netstat">netstat</a>
</li>
<li class="nav-item">
<a class="nav-link{{ ' active' if service == 'load' }}" href="/munin/viewer/load">load</a>
</li>
<li class="nav-item">
<a class="nav-link{{ ' active' if service == 'cpu' }}" href="/munin/viewer/cpu">cpu</a>
</li>
</ul>
</div>
<div id="content" class="row custom-col-padding-5">
{% for cells in chars %}
  	{% for cell in cells %}
	<div class="col col-sm-6 col-md-6 col-lg-4 chart-container">
	<div class="chart-title"><a href="/munin/{{ cell.site }}/{{ cell.service }}/">{{ cell.service }}</a></div>
	<img src="/munin/{{ cell.site }}/{{ cell.service }}/{{ cell.char }}" class="img-fluid">
	</div>
	{% endfor %}
{% endfor %}
</div>
</div>
</body>
</html>
